/* DESKTOP */
@media(min-width: 768px){
   .addNewProduct {display: flex; flex-direction: row;}
   .addProductLeft{width: 33%;}
   .addProductRight{color: #6A4029; font-size: 1.5vw; font-weight: bold; width: 53%;}
   .addNewProductInputNumber {border: 0.1vw solid #9F9F9F; border-radius: 0.5vw; margin-bottom: 0.5vw; padding: 1vw 2vw;}
   .newProductInputForm {border: none; border-bottom: 0.1vw solid #4F5665; font-size: 1vw; margin: 1vw 0 3vw 0; padding: 1vw 0; width: 100%;}
   .newProductInputForm:focus {outline: none;}
   .chooseSizeAddProductArea {margin: 1.5vw 0; width: 33%;}
   .chooseDeliveryAddProductArea {margin: 1.5vw 0; width: 55%;}
}

/* MOBILE */
@media(max-width: 768px){
   .addProductLeft{margin-top: 7.7vw;}
   .addProductRight{color: #6A4029; font-size: 4vw; font-weight: bold; margin-top: 10vw;}
   .addNewProductInputNumber {border: 0.1vw solid #9F9F9F; border-radius: 1.5vw; margin-bottom: 1vw; padding: 2.5vw 5vw;}
   .newProductInputForm {border: none; border-bottom: 0.1vw solid #4F5665; font-size: 3.5vw; margin: 2.5vw 0 5vw 0; padding: 1vw 0; width: 100%;}
   .newProductInputForm:focus {outline: none;}
   .chooseSizeAddProductArea {margin: 5vw 0; width: 50%;}
   .chooseDeliveryAddProductArea {margin: 5vw 0; width: 88%;}
}