.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.displayRow {
  display: flex;
  flex-direction: row;
}
.displayColumn {
  display: flex;
  flex-direction: column;
}
.hoverThis:hover {cursor: pointer; opacity: 0.5;}
.noMargin {margin: 0 !important;}

@import url("https://fonts.googleapis.com/css?family=Rubik");
.rubikFont {font-family: 'Rubik'}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
.poppinsFont {font-family: 'Poppins'}

/* MAP BUTTON - CENTERIZE */
.dropdownMenuCenter {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, -111%) !important;
  z-index: 1 !important;
}
.justifyContentCenter {justify-content: center}

.showInAnimation {animation: showOpacity 0.4s;}
@keyframes showOpacity{from{opacity: 0;} to{opacity: 1;}}

/* DESKTOP */
@media(min-width: 768px) {
  .yellowLogoRadiusClass { 
    align-items: center; 
    background: #FFBA33; 
    border-radius: 50%; 
    height: 3.3vw; 
    justify-content: center; 
    width: 3.3vw; 
  }
  .closeBtnCart { height: 1.5vw; width: 1.5vw; }
  .imgContainerCart { width: 120px; height: 120px; }
  .howMuchPriceCart { align-self: center; margin-left: auto; }
  .productExampleImgCart {width: 100%;}
}

/* MOBILE */
@media(max-width: 768px) {
  .yellowLogoRadiusClass { 
    align-items: center; 
    background: #FFBA33; 
    border-radius: 50%; 
    height: 10vw; 
    justify-content: center; 
    width: 10vw; 
  }
  .closeBtnCart {height: 8.8vw; right: 3.3vw; position: absolute; width: 8.8vw;}
  .cartCard {flex-direction: column;}
  .productNameCart {margin: 5.5vw 0; text-align: center;}
  .productInfoCart {flex-direction: column; text-align: center;}
  .deliveryMethodCart {display: flex; flex-direction: row;}
  .imgContainerCart {margin-left: 5.5vw;}
  .deliveryMethodCart {display: none;}
  .itemDeliveryMethodCart {margin: auto; margin-left: 7.7vw; margin-bottom: 3.3vw;}
  .howMuchPriceCart {margin: 3.3vw 0; text-align: center;}
  .productExampleImgCart {border-radius: 5vw; margin-top: 11vw; width: 50vw;}
}