/* DESKTOP */
@media(min-width: 768px){
   .productDetails {background: #EDEDED; padding: 3vw 6vw; height: auto; margin-bottom: -7vw;}
   .leftProductDetails {padding: 7vw 3vw; width: 35vw;}
   .rightProductDetails {width: 65vw;}
   .chooseSizeZone {background: white; border-radius: 1vw; color: #6A4029; font-size: 1.5vw; height: auto; margin: 3% 11%; padding: 6vw;}
   .chooseSizeBtnZone {justify-content: space-between; margin: auto; padding-top: 1.5vw; width: 50%;}
   .chooseDeliveryMethods {padding: 3% 30%;}
   .chooseDeliveryBtnArea {align-items: center; justify-content: space-between;}
   .orderSetTimeInput {background: transparent; border: none; border-bottom: 0.1vw solid #9F9F9F; font-size: 0.8vw; width: 70%;}
   .orderSetTimeInput:focus {outline: none;}
   .checkoutZone {align-items: center; justify-content: space-between; padding: 0 7.7vw; width: 86.8vw; z-index: 1;}
   .insideCheckOutZone {
      align-items: center; 
      background: white; 
      box-shadow: 0 0.3vw 0.5vw #DEDEDE; 
      border-radius: 1.1vw; 
      height: 8vw; 
      justify-content: space-between; 
      padding: 1.5vw 3vw; 
      width: 77%;
   }
   .plusMinusBtn {
      align-items: center; 
      background: rgba(231, 170, 54, 0.52); 
      border-radius: 50%;
      color: #6A4029;
      font-size: 2vw; 
      font-weight: 1000; 
      height: 2.5vw; 
      line-height: 1.01; 
      text-align: center; 
      width: 2.5vw;}
}

/* MOBILE */
@media(max-width: 768px){
   .productDetailsDesktop {display: none;}
}