.homeSearchInput {border: none;}
.homeSearchInput:focus {outline: none;}

/* DESKTOP */
@media(min-width: 768px){
    /* FONT CONFIG - HOME */
    .homeBigText {font-size: 2.7vw; font-weight: bold;}
    .homeMediumText {font-size: 1.2vw;}
    .homeSmallText {font-size: 1vw;}
    /* START YOUR DAY WITH COFFEE AND GOOD MEALS */
    .startYourDayWithCoffee {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://user-images.githubusercontent.com/77045083/113870914-8b43ae80-97dc-11eb-9d02-d50d1e6c4fa6.png");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        height: 90vh;
        padding: 1vw 6vw;
        position: relative;
    }
    .startYourDayText {font-size: 3.7vw; font-weight: 700; letter-spacing: 0.75px;}
    .withCoffeeLeftSide {margin-top: 3vw;}
    .weProvideHighQualityBeans {font-size: 1.6vw; margin: 1.6vw 0; width: 33vw;}
    .homeSearchBar {align-items: center; background: #EFEEEE; border-radius: 2vw; padding: 1vw; width: 25vw;}
    .homeSearchBar:hover {box-shadow: 0 0.3vw 0.1vw grey;}
    .homeSearchInput {background: transparent; font-size: 1vw; font-weight: 900;}
    .homeSearchInput:invalid {box-shadow: none;}
    .getStartedButton {width: 45%;}

    /* STAFF, STORE, CUSTOMERS */
    .staffStoreCustomersStample {padding: 3vw 6vw; position: absolute; width: 100%; margin-top: -8vw; z-index: 1;}
    .insideThreeS {background: white; box-shadow: 0 0.3vw 0.5vw #DEDEDE; border-radius: 0.5vw; color: black; height: 22vh; justify-content: space-between; margin: auto; padding: 2vw 4vw; width: 100%;}
    .insideSSSText {margin: 0 2.2vw;}
    .numberTextSSS {font-size: 1.5vw; font-weight: 900}
    .contentTextSSS {color: #4F5665; font-size: 1.1vw; letter-spacing: 0.75px;}
    .insideStaffStoreCustomers {align-items: center; display: flex; flex-direction: row; justify-content: center; width: 30%;}
    .peopleLogoSSS {height: 1.5vw; width: 1.3vw;}
    .locationLogoSSS {height: 1.5vw; width: 1.1vw;}
    .loveLogoSSS {height: 1.5vw; width: 1.8vw;}

    /* WE PROVIDE GOOD COFFEE AND HEALTHY MEALS */
    .weProvideGoodCoffee {background: white; display: flex; flex-direction: row; height: auto; justify-content: space-between; padding: 10vw 6vw; position: relative;}
    .youCanExploreText {margin: 1.5vw 0; width: 66%;}
    .weProvideCheck {align-items: center; font-size: 1vw; margin: 1vw 0;}
    .weProvideCheckImgGreen {height: 1.5vw; margin-right: 1.5vw;}
    .weProvideGoodCoffeeImg { height: 70vh; width: 50%; }

    /* HERE'S PEOPLE FAVOURITE */
    .peopleFavorite {background: #F5F6F8; height: auto; padding: 6vw;}
    .peopleFavoriteMenuList {display: flex; flex-direction: row; justify-content: space-between; margin-top: 20%;}
    .peopleFavoriteFoodCard {
        align-items: center; 
        background: white; 
        border: 0.2vw solid #DDDDDD; 
        border-radius: 1vw; 
        height: auto; 
        justify-content: space-between; 
        padding: 1.5vw; 
        position: relative; 
        width: 25vw;
    }
    .peopleFavoriteCategory {align-items: center; margin: 1vw 0;}
    .favoriteFoodImage {border-radius: 50%; height: 10vw; margin: auto; margin-top: -33%; width: 10vw;}
    .favoriteFoodPrice {font-size: 1.7vw; font-weight: bold; margin: 2vw 0;}
    .selectFavoriteFoodButton {
        background: white; 
        border: 0.1vw solid #FFBA33; 
        border-radius: 3vw; 
        color: #6A4029; 
        font-size: 1vw; 
        font-weight: bold; 
        margin-bottom: 5vw; 
        padding: 0.3vw 3vw;
    }
    .peopleFavoriteCardInfoTitleText {width: 20vw;}

    /* VISIT OUR STORE / MAP */
    .visitOurStore {align-items: center; height: auto;}
    .countryImg {border-radius: 50%; height: 5vw; width: 5vw;}

    /* OUR PARTNER */
    .ourPartner {padding: 6vw;}

    /* CHECK OUR PROMO TODAY */
    .checkOurPromoToday {padding: 4vw 6vw;}
    .insideCheckOurPromoToday {align-items: center; background: white; border-radius: 1vw; box-shadow: 0 0.3vw 0.5vw #DEDEDE; justify-content: space-between; padding: 2.2vw 5.5vw; position: absolute; width: 88%;}
}

/* MOBILE */
@media(max-width: 768px){ 
    /* FONT CONFIG - HOME */
    .homeBigText {font-size: 5.5vw; font-weight: bold;}
    .homeMediumText {font-size: 4vw;}
    .homeSmallText {font-size: 2.5vw;}
    /* START YOUR DAY WITH COFFEE AND GOOD MEALS */
    .startYourDayWithCoffee {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://user-images.githubusercontent.com/77045083/113870914-8b43ae80-97dc-11eb-9d02-d50d1e6c4fa6.png");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        padding: 12vw 6vw;
        padding-bottom: 30vw;
        position: relative;
    }
    .startYourDayText {font-size: 5.5vw; font-weight: 700; letter-spacing: 0.75px;}
    .withCoffeeLeftSide {margin-top: 3vw;}
    .withCoffeeRightSide { display: none; }
    .weProvideHighQualityBeans {font-size: 3.8vw; margin: 5vw 0;}
    .getStartedButton {margin: auto; width: 77%;}

    /* STAFF, STORE, CUSTOMERS */
    .staffStoreCustomersStample {padding: 3vw 6vw; position: absolute; width: 100%; margin-top: -17vw; z-index: 1;}
    .insideThreeS {background: white; box-shadow: 0 0.3vw 0.5vw #DEDEDE; border-radius: 3vw; color: black; height: 17vh; justify-content: space-between; margin: auto; padding: 4vw; width: 100%;}
    .insideSSSText {margin: 0 2.2vw;}
    .numberTextSSS {font-size: 3.8vw; font-weight: 900}
    .contentTextSSS {color: #4F5665; font-size: 3.3vw; letter-spacing: 0.75px;}
    .insideStaffStoreCustomers {align-items: center; display: flex; flex-direction: column; justify-content: space-around; text-align: center; width: 30%;}
    .peopleLogoSSS {height: 5vw; width: 4.5vw;}
    .locationLogoSSS {height: 5vw; width: 3.5vw;}
    .loveLogoSSS {height: 5vw; width: 6vw;}

    /* WE PROVIDE GOOD COFFEE AND HEALTHY MEALS */
    .weProvideGoodCoffee {background: white; display: flex; flex-direction: column; height: auto; justify-content: space-between; padding: 18vw 6vw; position: relative;}
    .youCanExploreText {margin: 5vw 0;}
    .weProvideCheck {align-items: center; font-size: 2.5vw; margin: 1vw 0;}
    .weProvideCheckImgGreen {height: 3.3vw; margin-right: 3.3vw;}
    .weProvideGoodCoffeeImg { width: 100%; }

    /* HERE'S PEOPLE FAVOURITE */
    .peopleFavorite {background: #F5F6F8; height: auto; padding: 6vw; padding-top: 18vw; padding-bottom: 0;}
    .peopleFavoriteMenuList {display: flex; flex-direction: column; justify-content: space-between; margin-top: 20%;}
    .peopleFavoriteFoodCard {
        align-items: center; 
        background: white; 
        border: 0.2vw solid #DDDDDD; 
        border-radius: 3.3vw; 
        height: auto; 
        justify-content: space-between; 
        margin: auto; 
        margin-bottom: 25vw; 
        padding: 3vw; 
        position: relative; 
        width: 77vw;
    }
    .peopleFavoriteCategory {align-items: center; margin: 1vw 0;}
    .favoriteFoodImage {border-radius: 50%; height: 25vw; margin: auto; margin-top: -33%; width: 25vw;}
    .favoriteFoodPrice {font-size: 3.3vw; font-weight: bold; margin: 2vw 0; text-align: center;}
    .selectFavoriteFoodButton {
        background: white; 
        border: 0.1vw solid #FFBA33; 
        border-radius: 3vw; 
        color: #6A4029; 
        font-size: 3.3vw; 
        font-weight: bold; 
        margin-bottom: 5vw; 
        padding: 1vw 3vw;
        width: 33vw;
    }

    /* VISIT OUR STORE / MAP */
    .visitOurStore {align-items: center; height: auto;}
    .visitOurStoreText {padding: 10vw;}
    .countryImg {border-radius: 50%; height: 15vw; margin: 2.5vw; width: 15vw;}

    /* OUR PARTNER */
    .ourPartner {padding: 6vw;}

    /* CHECK OUR PROMO TODAY */
    .checkOurPromoToday {padding: 6vw;}
    .insideCheckOurPromoToday {
        align-items: center; 
        background: white; 
        border-radius: 1vw; 
        box-shadow: 0 0.3vw 0.5vw #DEDEDE; 
        justify-content: space-between; 
        padding: 2.2vw 5.5vw; 
        position: absolute; 
        width: 88%;
    }
 }